@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --table-gray:  #F6F6F6;
    --table-border :#c1c9d7b5;
    --table-header : #E0E4EB;
    --table-text-secondary: #586887;
    
}

.cell::first-letter{
    text-transform: capitalize;
}
.el-table tr {
    background-color: #f6f6f6 !important;
}
.el-table {
    --el-table-header-text-color:#3C4750 !important;
    --el-table-header-bg-color: var(--table-header) !important;
    --el-table-border-color: var(--table-border) !important;
}
th{
    border-bottom: var(--table-header) !important;
}
th .cell{
    font-weight: 500 ;
}
@layer components{
    .drop-data {
        @apply hover:bg-slate-200 transition-all px-2 text-black transition-all w-full text-start  py-1 w-full text-slate-400 text-sm flex gap-2 items-center  
      }
      .filter-drop-data {
        @apply hover:text-black transition-all px-4 text-black transition-all w-full text-start  py-1 w-full text-slate-400 text-sm flex gap-2 items-center  
      }
      .feature-container {
        @apply bg-white p-4 rounded-lg shadow-md border   ;
      }
    
}
.dateWidth{
    width: 8rem !important;
}